* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

dialog {
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  outline: none;
}